VITE_SOCKET_URL=http://<EC2-PUBLIC-IP>:5000
VITE_API_URL=http://<EC2-PUBLIC-IP>:5000/api
VITE_RAZORPAY_KEY_ID=your_razorpay_key_id
VITE_RAZORPAY_KEY_SECRET=your_razorpay_key_secret
VITE_GOOGLE_CLIENT_ID=your_google_client_id
VITE_GOOGLE_CLIENT_SECRET=your_google_client_secret
